{
  "reporter": [
    "html",
    "lcovonly"
  ],
  "extension": [
    ".js",
    ".jsx"
  ],
  "exclude": [
    "src/index.js",
    "src/**/*.spec.js"
  ],
  "temp-dir": "./coverage/tmp",
  "report-dir": "./coverage",
  "sourceMap": false,
  "instrument": false
}
